.modal-open {
  .content-body {
    filter: blur(3px) grayscale(100%);
    transition: 0.5s;
    overflow: hidden;
    height: 100%;
  }
  .modal-backdrop {
    background-color: #10101a;
  }
  .modal-backdrop.in {
    opacity: 0.95 !important;
  }
}

.modal-dark {
  color: @blue-darken-one;
  text-align: center;
  .modal-header {
    background-color: @aqua;
    color: @white;
    text-transform: uppercase;
    .close {
      margin-top: -12px;
    }
  }
  .modal-content {
    border-radius: 0;
    color: @blue-darken-one;
    box-shadow: none;
    background-color: #f2f5fa;
    border: 0;
    a {
      color: @blue-light-two;
    }
  }
  .modal-content {

  }
  .modal-body {
    padding: 30px;
  }
}
